.head-slider {
  max-width: 1404px;
  margin: 0 auto;
}

/*
li.slide-item {
  text-align: center
}

li.slide-item:not(:nth-child(1)) {
  position: absolute;
  left: -9999px
}

.left-flag .slide-text-wrap, .right-flag .slide-text-wrap {
  width: 40%;
  position: absolute;
  height: 100%
}

.right-flag .slide-text-wrap {
  right: 0
}

img.slide {
  width: 100%;
  object-fit: cover
}

img.slide.mobile {
  display: none
}

img.slide.desktop {
  display: block;
  object-fit: cover;
  object-position: center top;
  min-height: 550px
}*/

li.slide-item {
  max-width: 94%;
}

li.slide-item:not(:nth-child(1)) {
}

.left-flag .slide-text-wrap, .right-flag .slide-text-wrap {
}

.right-flag .slide-text-wrap {
}

img.slide {
  border-radius: 10px;
}

img.slide.desktop {
  max-width: 100%;
  display: block;
}