.head-slider {
  max-width: 1404px;
  margin: 10px auto;
}

li.slide-item {
  max-width: 94%;
}

li.slide-item:not(:nth-child(1)) {
}

.left-flag .slide-text-wrap, .right-flag .slide-text-wrap {
}

.right-flag .slide-text-wrap {
}

img.slide {
  border-radius: 10px;
}

img.slide.desktop {
  max-width: 100%;
  display: block;
}