@media screen and (max-width: 1024px) {
  .fotorama{
    margin: 0;
    border-radius: 0;

    &__desktop-img{
      display: none;
    }

    &__mobile-img{
      display: block;
    }
  }
}

@media screen and (max-width: 768px) {
  .fotorama{
    .fotorama{
      &__arr{
        width: 60px;
        opacity: .4 !important;
        background: url("/img/hv.png") no-repeat center;
        background-size: 20px 40px;
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .fotorama{
    .fotorama{
      &__arr{
        &--prev{
          background-position: 30px center;
        }

        &--next{
          background-position: 30px center;
        }
      }

      &__nav__frame--dot{
        width: 40px !important;

        &.fotorama__active{
          .fotorama__dot{
            width: 40px;
          }
        }
      }

      &__dot{
        width: 40px;
      }
    }
  }
}